.categoryOption__button{
    background-color: transparent;
    padding: 8px 40px;
    outline: none !important;
    border: 1px solid var(--dark-green);
    border-radius: 15px;
    letter-spacing: 1px ;
    cursor:pointer;
    transition: all 0.3s
}
.clicked{
    background-color: var(--dark-green);
    transform: scale(1.2);
    font-weight: 600;
}